@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Vazirmatn', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}
.dark ::-webkit-scrollbar-thumb {
  background: #475569; 
}

/* Loader Animation */
.loader-dots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader-dots div:nth-child(1) { left: 8px; animation: loader-dots1 0.6s infinite; }
.loader-dots div:nth-child(2) { left: 8px; animation: loader-dots2 0.6s infinite; }
.loader-dots div:nth-child(3) { left: 32px; animation: loader-dots2 0.6s infinite; }
.loader-dots div:nth-child(4) { left: 56px; animation: loader-dots3 0.6s infinite; }

@keyframes loader-dots1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes loader-dots3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
@keyframes loader-dots2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(24px, 0); }
}